1. Arithmatic Operators ( +, -, *,/ %, //, **)
2. Comparison Operators ( <, >, <= ,>=, == !=)
3. Logical Operators ( and , or, not)
4. Assigment Operators (=)
5. Memebership Operators(in, not in)
6. Identity Operators (is, is not)
7. Binary Operators(left shift, right shift etc)

1. Arithmentic Operator 
<p>
a) addition + <br>
b) subraction - <br>
c) multiplication * <br>
d) absolute division / <br>
e) modulus operator % <br>
f) inter division or floor division // <br>
g) power or exponent ** <br>
</p>

In [2]:
# Addition (Binary Operator)
x=5
y=10
print(x+y)

15

In [3]:
s1 = "hello"
s2 = "world"
print(s1+s2)

helloworld

In [4]:
l1 = [1,2,3,'hello','hi']
l2 = [3,14,'something', 'bye bye']
l3 = l1 + l2
print(l1)
print(l2)
print(l3)

[1, 2, 3, 'hello', 'hi']
[3, 14, 'something', 'bye bye']
[1, 2, 3, 'hello', 'hi', 3, 14, 'something', 'bye bye']

In [5]:
t1 = (1,2,3)
t2 = (4,5,6)
t3 = t1+t2
print(t1)
print(t2)
print(t3)

(1, 2, 3)
(4, 5, 6)
(1, 2, 3, 4, 5, 6)

In [10]:
d1 = { 'one' : 'ek', 'hi' : 'hello'}
d2 = {'two' : 'do', 'bye' : 'bye bye'}
# d3 = d1 + d2 this operation in not permitted in python
print(d1)
print(d2)
#print(d3)

{'one': 'ek', 'hi': 'hello'}
{'two': 'do', 'bye': 'bye bye'}

In [12]:
s1 = {1,2,3,}
s2 = {4,5,6}
print(s1)
print(s2)
#s3 = s1 + s2 not permitted
#print(s3)

{1, 2, 3}
{4, 5, 6}

In [13]:
#Subtraction Operator
x = 3
y = 7
print(x)
print(y)
z= x - y
print(z)

3
7
-4

In [14]:
x = 3
y = 3.15
z = 4.5+6.2j
print(x+y+z)

(10.65+6.2j)

In [16]:
s1 = 'hello'
s2 = 'world'
#s3 = s1-s2 not possible


#multiplication
x = 1
y = 2.4
z = 3.14+4.5j
r=x*y*z
print(r)

(7.536+10.799999999999999j)

In [17]:
#absolute division
x = 22 
y = 7
z = x/y
print(z)

3.142857142857143

In [18]:
print(round(z))

3

In [19]:
x = 3.7
print(round(x))

4

In [22]:
x = 13
y = 7
r = x/y
print(r)
print("%f"%(r))
print("%.2f"%(r))

1.8571428571428572
1.857143
1.86

In [27]:
x = 28
y = 7
print("x = ",x)
print("y = ",y)
print("r = ",x/y)
print("x = {}".format(x))
print("y = {}".format(y))
print("r = {:.3}".format(x/y))
print("x = {0}, y = {1} , x/y ={2}".format(x,y,x/y))

x =  28
y =  7
r =  4.0
x = 28
y = 7
r = 4.0
x = 28, y = 7 , x/y =4.0

In [28]:
x = 5
y = x+ x
print("{1} + {1} = {0}".format(y,x))

5 + 5 = 10

In [29]:
3/4

0.75

In [30]:
#modulus operator
x = 26 % 7
print(x)

5

In [31]:
23//7

3

In [32]:
#floor division (quotient on remainder)
#floor division is used to provide integer division
x= 10 //3
print(x)

3

In [33]:
#exponent **
# x ** y -> x to the power y
x = 2 ** 4
print(x
     )

16

In [35]:
x = 5 * 6 - 23 % 3 * 2
print(x)

26

In [36]:
x = 7 ---- 3
print(x)

10

In [37]:
s = "hello"
print(s*5)

hellohellohellohellohello

In [38]:
i =[1,2,3]
print(i*5)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [39]:
print("*"*30)

******************************

In [40]:
print("*"*100)

****************************************************************************************************

In [41]:
print()

In [42]:
print("hello world".center(50))
print()
print("*"*50)
print("*"*50)

                   hello world

**************************************************
**************************************************

In [43]:
i = []
s = [] *5
print(s)

[]

In [44]:
x ='' *5
print(x)

In [46]:
i=[1]
l=[[1]*5]
print(l)

[[1, 1, 1, 1, 1]]

In [50]:
k = [[]] *5
print(k)

[[], [], [], [], []]

<h1 style = 'color:#123456'> Comparison Operators <h1>

In [53]:
#numbers

print(4<5)
print(5<4)
print()
print(4<4)
print(5>5)

print(5==5)

True
False

False
False
True

<h1> logical operator </h1>

In [61]:
# and , or , not (unary operator)
#they dont manipulate values just check logic

#op1 and op2
# false -> None, 0 , false   ,  everything else is true
print(45 and 57)
#57 is output meaning true as only none 0 and false mean false else everything is true
print(90 and 57)
print(None and 'hello')
print(None and 0)

57
57
None
None

In [62]:
print ((3-4+1) and 4>5)

0

In [63]:
print((3-4-1) and 8-9)

-1

In [71]:
#Truth table for and operator
print("\top1\top2\tand\tor")
x = True
y = False
print()
print("\t{}\t{}\t{}\t{}".format(x,y,x and y,x or y)) #use of left spacing
print("\t{}\t{}\t{}\t{}".format(x,x,x and x,x or x))
print("\t{}\t{}\t{}\t{}".format(y,x,y and x,y or x))
print("\t{}\t{}\t{}\t{}".format(y,y,y and y,y or y))

	op1	op2	and	or

	True	False	False	True
	True	True	True	True
	False	True	False	True
	False	False	False	False

In [70]:

#assignment o/p
x = 10
y = 1
z = 3
r = (x+5**y /z*3 -x*z ) and (5<6 or 7>=6)
print(r)

True

<h1 style= 'color:#123456' > Memebership operator </h1>

In [74]:
#in or not in
#only used with sequence (string, list, tuple, dictionary, set other iterative)
s = "Hello World"
k = 'ell'
x =k in s
print(x)
y = "hello" in s
print(y)

True
False

In [77]:
list1 = [1,2,3,4,5,'hello', 'hi']
list2 = [1,2,3]
print(list1 in list2)
print(list2 in list1) #list2 is considered as single element while searching
list3 = [1,2,3,4,5,'hello', 'hi',[1,2,3]]
print(list2 in list3)

False
False
True

In [78]:
d = {'one' : 1, 'two': 2, 'three':3}
x = 'one' in d
y = 1 in d
print(x)
print(y)

True
False

In [79]:
s = {'hello', 'hi', 'java', 'python', 1}
x = 1 in s
y = 10 in s
z = 'hi' in s
print(x)
print(y)
print(z)

True
False
True

In [80]:
p = 1 not in s #not in is negative of in
print(p)

False

#Identity Operator

In [94]:
#is , is not
x = 5
y = 5
num1 = 1234455
num2 = 1234455
z = 4
l =[1,2,3,4,'hello',5]
p = x is y 
q = z is x
r = 5 is x
t = x is l[-1]
print(p)
print(q)
print(r)
print(t)
print(id(x))
print(id(y))
print(id(num1)) #id is now different for num1 and num2  as the numbers are big 
print(id(num2)) #in case of big numbers memory allocation becomes complicated so they are allocated diff id
print(id(l[-1]))

False
False
False
False
2246255351664
2246255351472
1597989152

In [100]:
#id?
l = [var for var in range(100)]
x = map(int,l)
print(*l)
print()
print(*x)
print()
print(x)
print()
print(*x)
print()
print(*l)
print()
print("Size of list =", (l.__sizeof__()))
print("Size of iterator = ", (x.__sizeof__()))

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

<map object at 0x0000020AFF4582B0>



0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

Size of list = 888
Size of iterator =  32